/* ---------------------------
        Fonts 
----------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* ---------------------------
        Common Css 
----------------------------- */
* {
	margin: 0;
	padding: 0;
	outline: 0;
}

body {
	font-family: "Poppins", sans-serif;
}

.primary-button {
	text-decoration: none;
	padding: 10px 24px;
	color: #fff;
	background-color: #e02c6d;
	font-size: 16px;
	font-weight: 700;
	border-radius: 25px;
}

/* ---------------------------
        Header Css 
----------------------------- */
header {
	display: flex;
	justify-content: center;
	margin: 50px 0;
}

.header-container,
#banner_section {
	width: 1200px;
	display: flex;
	justify-content: space-between;
}

.nav-brand {
	display: flex;
	align-items: center;
}

.nav-brand a {
	text-decoration: none;
	font-size: 24px;
	font-weight: 700;
}

nav > ul {
	display: flex;
	list-style: none;
}

nav > ul li {
	margin-left: 35px;
}

nav > ul li a {
	text-decoration: none;
	color: #3a3a3a;
	font-weight: 600;
	font-size: 16px;
}

/* ---------------------------
        Banner Section Css 
----------------------------- */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.banner-content {
	width: 50%;
}

.baner-title {
	font-size: 52px;
	font-weight: 700;
	color: #3a3a3a;
	line-height: 70px;
}

.banner-content p {
	font-size: 16px;
	color: #3a3a3a;
	margin-bottom: 20px;
}

.banner-photo {
	width: 50%;
	background-image: url("../images/banner/Circle\ design.svg");
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
}

.banner-photo img {
	width: 80%;
}

/* ---------------------------
        Common Css 
----------------------------- */

/* ---------------------------
        Common Css 
----------------------------- */

/* ---------------------------
        Common Css 
----------------------------- */

/* ---------------------------
        Common Css 
----------------------------- */

/* ---------------------------
        Common Css 
----------------------------- */
